<h1><%= @cocktail.name %></h1>
<%= link_to "Back to all cocktails", root_path %>
<% @cocktail.doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "Delete Dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to "Create a new dose", new_cocktail_dose_path(params[:id]) %>

